      .container{
            height: 100vh;
            width: 100%;
            background-image: url(/image/hotel2.jpg);
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .content{
            background-color: rgba(0, 0, 0, 0.808);
            color: white;
            margin-top: auto;
            margin-bottom: 10px;
            padding: 0 10px;
            border-radius: 15px;

       }
       button{
            margin-bottom: 20px; 
             border-radius: 5px;
             color: green;
       }
       a{
        text-decoration: none;
        color: black;
        border-color: transparent;
       }

    